amqp==2.4.2
astropy==3.1.2
billiard==3.6.0.0
camb==1.0.4
celery==4.3.0
certifi==2019.3.9
cycler==0.10.0
Django==2.2.13
django-analytical==2.5.0
django-crispy-forms==1.7.2
django-range-slider==0.2.4
django-tabination==0.4.0
-e git+https://github.com/steven-murray/hmf.git@7e14142f758df93514203d765c7ba8e8335f4d90#egg=hmf
kiwisolver==1.0.1
kombu==4.5.0
matplotlib==3.0.3
mkl-fft==1.0.10
mkl-random==1.0.2
mpmath==1.1.0
numpy==1.16.2
pyparsing==2.4.0
pypolychord==1.16
python-dateutil==2.8.0
pytz==2019.1
scipy==1.2.1
sentry-sdk==0.7.13
six==1.12.0
sqlparse==0.3.0
sympy==1.4
tornado==6.0.2
urllib3==1.25.2
vine==1.3.0
