{% extends "text_base.html" %}

{% block title %}HMFcalc | Acknowledgments {% endblock %}

{% block subheading %}
<div class='page-header'>
<h2>Acknowledgments</h2>
</div>
{% endblock %}

{% block content %}
<h4>How To Acknowledge Use Of HMFcalc</h4>
Thank you very much for using HMF<em>calc</em> (or the hmf backend) for your research. We hope it has met your needs. If you have 
found it to be a useful tool, please let us know! The best way to do this is to cite <a href="http://adsabs.harvard.edu/abs/2013MNRAS.434L..61M">this article</a>, 
which details HMFcalc's functionality, and also has some background on the HMF.

<h4>Software Used</h4>
<ul>
	<li>Web-Framework: <a href="https://www.djangoproject.com/">Django</a></li>
	<li>Transfer Functions: <a href="http://camb.info/">CAMB</a></li> (optionally)
	<li>Cosmography: <a href="http://roban.github.com/CosmoloPy/">Cosmolopy</a>
	<li>Other Third-Party Python Packages Used: <a href="http://www.numpy.org/">NumPy</a>, <a href="http://www.scipy.org/Download">SciPy</a>,
			<a href="http://matplotlib.org/">Matplotlib</a>
	<li>Web stuff:<a href="http://jquery.com/">jQuery</a>, <a href="http://getbootstrap.com">Bootstrap</a>, <a href="http://dygraphs.com/">dygraphs</a>
</ul>

<h4>People Involved</h4>
Several people have contributed towards this app's design and functionality. These include
<a href="https://www.socrates.uwa.edu.au/Staff/StaffProfile.aspx?Person=ChrisPower">Chris Power</a> and 
<a href="http://uwa.academia.edu/AaronRobotham">Aaron Robotham</a> as supervisors during my PhD,
Andreas Wicinec and Kevin Vinsen for technical help, Mark Boulton for support with the server,
and several others who have commented on the code or reported bugs.

<h4>Organisations</h4>
I would like to thank <a href='www.icrar.org'>ICRAR</a>, The University of Western Australia (<a href='www.uwa.edu.au'>UWA</a>) 
and  <a href='www.curtin.edu.au'>Curtin University</a>, and also the ARC Centre of Excellence for All-Sky Astrophysics 
(<a href='www.caastro.org'>CAASTRO</a>).

<br><br>
<h6 class="text-right small muted">Solo Deo Gloria</h6>
{% endblock %}