{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}TheHaloMod | Calculator {% endblock %}

{% block allcontent %}
<div class="container-fluid">
    <div class="row">
    	<div class="col-md-3">
    		<button id="axes-button" class="btn btn-large">Change Axes</button>
    		<button id="clear-button" class="btn btn-large">Restart</button>
    		<button id="log-button" class="btn btn-large">LogScale</button>
    		<button id="data-button" class="btn btn-large">Download Data</button>
    	</div>
	
		<div class="col-md-7" id="image-div" style="height:500px;width:700px;"></div>
		<div class="col-md-2" id="model-div">
			<!-- Add Model Elements here -->
			<h3>Current Models</h3>
		</div>
	</div>
</div>

<!-- INPUT FORM -->
<div id="form-modal" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Input Options</h4>
            </div>
            <div id="form-modal-body" class="modal-body">
                <p>One fine body&hellip;</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal --> 


<!-- AXES FORM -->
<div id="axes-modal" class="modal fade">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Choose Axes</h4>
            </div>
            <div id="axes-modal-body" class="modal-body">
                <p>One fine body&hellip;</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal --> 

<!-- DATA FORM -->
<div id="data-modal" class="modal fade">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Data Download</h4>
            </div>
            <div id="data-modal-body" class="modal-body">
                <p>One fine body&hellip;</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal --> 

{% endblock %}

{% block js %}
<script src='//cdnjs.cloudflare.com/ajax/libs/dygraph/1.0.1/dygraph-combined.min.js' type='text/javascript'></script>
<script src='{{ STATIC_URL }}js/calculator.js' type='text/javascript'></script>
<script src='{{ STATIC_URL }}js/form.js' type='text/javascript'></script>
<script src='{{ STATIC_URL }}js/download.js' type='text/javascript'></script>

{% endblock %}