{% extends "text_base.html" %}

{% block title %}HMFcalc | Contacts {% endblock %}

{% block subheading %}
<div class='page-header'>
<h2>Contact Information</h2>
</div>
{% endblock %}

{% block content %}
<ul>
<li>Check out the backend code on <a href='https://github.com/steven-murray/hmf'>github</a>, or create an 
<a href = 'https://github.com/steven-murray/hmf/issues'>issue</a> there.</li>
<li>Check out the source-code for this online application on <a href='https://github.com/steven-murray/HMFcalc'>github</a>
or create an issue <a href='https://github.com/steven-murray/HMFcalc/issues'>here</a></li>
<li>To request a feature or let me know how you are using HMFcalc, send a tweet @hmfcalc.</li>
<li>If you just want to email the developers directly, <a href="emailme/">go here</a>.
</ul>
<br>
{% endblock %}