{% extends "base.html" %}

{% block title %}Mass Function Calculator | Resources {% endblock %}

{% block subheading %}
<div class='page-header'>
<h2>Resources</h2>
</div>
{% endblock %}

{% block content %}
<h4>Some papers surveying the mass function and various fitting functions:</h4>
<ul>
	<li> Lukic et. al., 2007 (<a href ='http://iopscience.iop.org/0004-637X/671/2/1160/'>Refereed</a>|<a href="http://arxiv.org/abs/astro-ph/0702360">arXiv</a>)</li> 
</ul>

<h4>The papers detailing the several fitting functions used in this app</h4>
<ul>
	<li> Press, Schechter, 1974 (<a href ='http://iopscience.iop.org/0004-637X/671/2/1160/'>Refereed</a>)</li>
	<li> Sheth, Tormen, 2001 (<a href='http://doi.wiley.com/10.1046/j.1365-8711.2001.04006.x'>Refereed</a>)</li>
	<li> Jenkins 2001 (<a href ='http://adsabs.harvard.edu/abs/2001MNRAS.321..372J'>Refereed</a>)</li> 
	<li> Reed, 2003(<a href ='http://adsabs.harvard.edu/abs/2003MNRAS.346..565R'>Refereed</a> | <a href="http://arxiv.org/abs/astro-ph/0301270">arXiv</a>)</li>
	<li> Warren, 2006 (<a href ='http://adsabs.harvard.edu/abs/2006ApJ...646..881W'>Refereed</a>)</li>
	<li> Reed, 2007 (<a href ='http://adsabs.harvard.edu/abs/2007MNRAS.374....2R'>Refereed</a>)</li>
	<li> Tinker, 2008 (<a href ='http://iopscience.iop.org/0004-637X/688/2/709'>Refereed</a> | <a href="http://arxiv.org/abs/0803.2706">arXiv</a>)</li>
	<li> Crocce et. al., 2010 (<a href ='http://doi.wiley.com/10.1111/j.1365-2966.2009.16194.x'>Refereed</a>)</li>
	<li> Courtin et. al., 2010 (<a href ='http://doi.wiley.com/10.1111/j.1365-2966.2010.17573.x'>Refereed</a> | <a href="http://arxiv.org/abs/1001.3425">arXiv</a>)</li>
	<li> Angulo et. al., 2012 (<a href ='http://adsabs.harvard.edu/abs/2012MNRAS.426.2046A'>Refereed</a> | <a href="arXiv:1203.3216v1">arXiv</a>)</li>
	<li> Watson et. al., 2012 (<a href="http://arxiv.org/abs/1212.0095">arXiv</a>)</li>
	
</ul>

<h4>Other helpful resources</h4>
<ul>
	<li> David Hogg, 1999 - <a href="arXiv:astro-ph/9905116v4" >Distance Measures in Cosmology</a></li>
</ul>
{% endblock %}