{% extends "text_base.html" %}

{% block title %}HMFcalc | Resources {% endblock %}

{% block subheading %}
    <div class='page-header'>
        <h2>Resources</h2>
    </div>
{% endblock %}

{% block content %}
    <p class="lead muted">
        This page contains several downloads and links to resources about the HMF. Whether it is downloadable code,
        articles or summary tables, you'll find it here.
    </p>

    <h3>Getting the code</h3>
    You can use the functionality of HMF<em>calc</em> offline with greater flexibility by using the backend package,
    hmf, directly. It is a python
    package, and relies on several other libraries, including numpy, scipy and pycamb. To get it for yourself, simply
    use pip:
    <pre>
$ pip install hmf
</pre>
    If you have any trouble installing, please let us know or head to the
    <a href="http://www.github.com/steven-murray/hmf">github repository</a> where the
    entire code is made open source. While you're there, raise any issues you have with the code, and feel free to grab
    it and start contributing!

    The <a href="http://www.github.com/steven-murray/HMFcalc">code for HMF<em>calc</em></a> is also made available on
    github, so go and check it out and fix
    any bugs you find!

    <h3>Papers Using HMF<em>calc</em> or hmf</h3>
    <p>
        Please let us know if your paper uses the hmf code or HMF<em>calc</em> and it's not listed here!
    </p>
    <ul>
        <li><a href="http://arxiv.org/abs/1306.6721">Murray, Power, Robotham, 2013</a></li>
        <li><a href="http://arxiv.org/abs/1306.5140">Murray, Power, Robotham, 2013</a></li>
        <li><a href="http://adsabs.harvard.edu/abs/2014MNRAS.443.1211M">Mirocha, J., 2014</a></li>
    </ul>

    <h3>Tables and Miscellaneous</h3>
    <ul>
        <li><a href="http://hmf.icrar.org/static/fitting_function_table/fitting_functions.pdf">Table of fitting function
            forms</a></li>
    </ul>

    <h3>HMF Review Papers</h3>
    <ul>
        <li><a href="http://arxiv.org/abs/astro-ph/0702360">Lukic et. al., 2007 </a></li>
        <li><a href="http://iopscience.iop.org/0067-0049/143/2/241">White, 2002</a></li>
    </ul>


    <h3>Other Papers</h3>
    <ul>
        <li> Hogg, 1999 - <a href="http://arXiv:astro-ph/9905116v4">Distance Measures in Cosmology</a></li>
    </ul>
{% endblock %}