#Analytics settings
GOOGLE_ANALYTICS_PROPERTY_ID = 'an id'

#My email
ADMINS = (
     ('name', 'name@gmail.com'),
)

#Contact form settings
CONTACT_RECIPIENTS = 'name@gmail.com'
EMAIL_HOST = 'smtp.host.com'
EMAIL_PORT = 587
EMAIL_HOST_USER = 'name'
EMAIL_HOST_PASSWORD = 'password'
EMAIL_USE_TLS = True

MANAGERS = ADMINS

# Make this unique, and don't share it with anybody.
SECRET_KEY = 'MySeCrEtKeY123456789'
