# Analytics settings
GOOGLE_ANALYTICS_PROPERTY_ID = 'an id'

# Email settings
MY_EMAIL = 'my.email@derp.com'  # Address that emails *go to*
HOST_EMAIL = 'server@gmail.com'  # Email address that emails *come from*
EMAIL_HOST_PASSWORD = 'bad_password'     # password of *from* email.
EMAIL_PORT = 123  # Port to use for the SMTP server defined in EMAIL_HOST.

# Make this unique, and don't share it with anybody.
SECRET_KEY = 'ergouahovuarsf...etc'
